@model PACGOPDB.Models.Season

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Season</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.ClassDecks)</dt>
        <dd>
            <table class="table">
                <tr><th>Class Deck</th></tr>
                @foreach (var item in Model.ClassDecks)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
